@font-face {
  font-family: "iconfont"; /* Project id 2937203 */
  src: url('iconfont.woff2?t=1636894607956') format('woff2'),
       url('iconfont.woff?t=1636894607956') format('woff'),
       url('iconfont.ttf?t=1636894607956') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e60b";
}

.icon-sousuo1:before {
  content: "\e86e";
}

